.container {
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom : 20px;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary-400);
  }
  
  .box {
    background-color:  var(--color-primary-600);
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var( --color-gray-900);
    margin-bottom: 10px;
  }
  
  .content {
    font-size: 16px;
    color: var( --color-gray-900);
    margin-bottom: 15px;
  }
  
  .date {
    font-size: 0.8rem;
    color: var( --color-gray-900);
    text-align: right;
  }
  .imageContainer {
    max-width: 100%;
    text-align: center;
  }
  .image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }